ul li{
    font-size: 18px;
}
.menu{
    background-image:linear-gradient(rgba(174, 85, 247, 0.612),rgba(239, 82, 160, 0.7)), url('./images/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
}
.menu h2{
	display: flex;
}
.bg_text{
    margin: 230px auto;
}
.bg_text h1{
    font-weight: bolder;
	font-size: 50px;
}
.bg_text p{
    font-size: 21px;
}
.footer{
    margin-top: 100px;
    background-color: rgb(67, 68, 71);
}
a:hover{
    text-decoration: none;
}
.testimonials{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.testimonials h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 25px 0 50px;
}
.testimonials h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #ffdc12;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.carousel .item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffd902fe;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;		
}
.services img{
    width:100%;
    height: 350px;
}
.services h3{
    margin-top:150px;
    font-size: 30px;
    font-weight: bolder;
}
.services p{
    font-size: 15px;
}
.copyrights{
    background-color: darksalmon;
}
.cs{
    float:left;
    width:70%;
}
.comment{
  float:right;
  width:30%;
}
::placeholder{
    padding: 10px;
}
.comment button{
    border: none;
    background-color: none;
    outline: none;
}